node_modules
.DS_Store
authentication-screen/.eslintcache
authentication-screen/package-lock.json
.DS_Store
project-food-order-app/package-lock.json
class-based-component/package-lock.json
movie-list-app/package-lock.json
counters/package-lock.json
custom-hooks/package-lock.json
form-handling-app/package-lock.json
form-handling-app/package 2.json
redux-shopping-cart/package-lock.json
