.button {
    font: inherit;
    border: 1px solid #00135f;
    background: #00135f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover,
  .button:active {
    background: #363f63;
    border-color: #363f63;
  }
  
  .button:focus {
    outline: none;
  }