.button {
  font: inherit;
  background-image: linear-gradient(to right, #280048 0%, #66bd67  51%, #280048  100%);
  padding: 10px 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;           
  border-radius: 30px;
}

.button:hover,
.button:active {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

